
username {{item.name}} privilege {{item.privilege}} role {{item.role}} secret {{item.secret_type}} {{item.secret}}
{% if "ssh_key" in item %}
username {{item.name}} sshkey {{item.ssh_key}}
{% endif %}
